<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
{#    <link rel="stylesheet" type="text/css" href="/static/htmlcss/mycss.css">#}
</head>
<body>

<a href="login://"> 登录</a>
<a href="hudong://http://www.baidu.com">新逻辑打开网页</a>
<a href="hudong://www.baidu.com">老逻辑打开网页</a>
<a href="getguid://guid=851002ae4ed88bc3dc9ce6d6be9e117e&title=测试标题">获取GUID</a>
<a href="getmatchid://matchid=4389724">打开赛事底层页</a>
<a href="backfinish://www.baidu.com">后退网页</a>
</body>
</html>